language: go
go_import_path: github.com/ng-vu/sqlgen
go:
    - 1.9.x
    - 1.10.x
    - tip
sudo: required
services:
    - docker
install:
    - go get -u github.com/golang/dep/cmd/dep
    - dep ensure
    - sudo pip install docker-compose
    - docker-compose up -d
script:
    - export PATH=$PATH:$HOME/gopath/bin
    - export GORACE="halt_on_error=1"
    - go test -v -race ./...
